* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  color: #537895;
  text-decoration: none;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

.container {
  width: 70%;
  margin: 0 auto;
}

header .blue-bar {
  height: 30px;
  background-color: #0282F9;
}
header .container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container-header #logo {
  padding: 20px;
}
header .container-header .list {
  height: 100%;
}
header ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
header ul li a {
  padding: 1rem;
  font-weight: 600;
  font-size: 12px;
  transition: 0.3;
  text-decoration: none;
  text-transform: uppercase;
}
header ul li a:hover, header ul li a.active {
  color: #0282F9;
  border-bottom: 2px solid #0282F9;
}
header .search_bar {
  display: flex;
  border-bottom: 1px solid #0282F9;
}
header .search_bar input {
  border: none;
  text-align: end;
}

.jumbotron {
  height: 600px;
  background-image: url("../img/jumbotron.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  background-color: black;
}
main .main-comics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  padding: 40px;
}
main .main-comics .card {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 16.6666666667%;
}
main .main-comics .card h3 {
  width: 100%;
  color: white;
  text-transform: uppercase;
  text-align: start;
  font-size: 12px;
  padding: 10px 0;
}
main .main-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 15px;
}
main .main-button button {
  padding: 10px 50px;
  background-color: #0282F9;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.main-links {
  padding: 20px;
  background-color: #0282F9;
}
.main-links .container_main_links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-links .link {
  display: flex;
  align-items: center;
  width: 100px;
  height: 100px;
  cursor: pointer;
}
.main-links .link img {
  width: 50%;
}
.main-links .link span {
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 15px;
}

footer {
  background-image: url("../img/footer-bg.jpg");
}

.footer-top .container_footer_top {
  display: flex;
}
.footer-top .footer-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 0;
  margin-right: 10px;
}
.footer-top .footer-nav .footer-nav-title {
  color: white;
  text-transform: uppercase;
}
.footer-top .footer-nav li {
  text-align: start;
  font-size: 10px;
  font-weight: bold;
  padding: 5px 0;
}
.footer-top .footer-nav li a {
  color: grey;
}

.footer-bottom {
  height: 100px;
  background-color: #303030;
}
.footer-bottom .container_footer_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sign-up-btn {
  padding: 20px 0;
}
.sign-up-btn button {
  color: white;
  text-transform: uppercase;
  background-color: #303030;
  border: 1px solid #0282F9;
  padding: 10px 15px;
}
.sign-up-btn button:hover {
  background-color: #0282F9;
  cursor: pointer;
  box-shadow: #303030;
  transition: 0.3;
}

.social-media-links ul:first-child a {
  color: #0282F9;
  font-weight: bold;
}

.social-media-links ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 15px;
}
.social-media-links ul li {
  padding: 10px 10px;
  cursor: pointer;
}