header {
    .blue-bar {
        height: 30px;
        background-color:$primary;
    }
    .container-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        #logo {
            padding: 20px;
        }
        .list {
            height: 100%;
        }
    }
    ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        li a {
            padding: 1rem;
            font-weight: 600;
            font-size: 12px;
            transition: 0.3;
            text-decoration: none;
            text-transform: uppercase;
            
            &:hover,
            &.active {
                color: $primary;
                border-bottom: 2px solid $primary;
                
            }
        }
    }

    .search_bar {
        display: flex;
        border-bottom: 1px solid $primary;

        input {
            border: none;
            
            text-align: end;
            
        }

    }
}